<%- include ("./static/header") %>
    <%- include ("./static/sidebar") %>
        <%- include ("./static/navbar") %>



            <div class="container-fluid mb-4">
                <div class="row mt-5">



                    <div class="col-4"></div>
                    <div class="col-4">
                        <img src="/img/TristoneLogo.png" class="img-logo rounded mx-auto d-block"
                            alt="Tristone Flowtech">
                        <h3 class="text-center display-5 text-center  mt-1 ">Reporte Entradas
                        </h3>

                        <p class="lead text-center"></p>
                    </div>
                    <div class="col-2" style="margin: 0 auto">
                        <!-- <table id="tableAcumulado"
                            class="table table-responsive-sm table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th colspan="3" class=" bg-info text-white"
                                        style="border-top-left-radius: 30px !important;" id="numero_semana"></th>
                                </tr>
                                <tr>
                                    <th>X2</th>
                                    <th>X3</th>
                                    <th>x2DL</th>
                                </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table> -->
                    </div>

                </div>

            </div>





            <div class="container">

                <div class="card-header text-white bg-dark ">
                    <div class="row">

                        <!-- <div class="col-lg-12  text-center">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="form-group">
                                    <label>Semana</label>
                                    <div>
                                        <input type="text" class="form-control text-center week-picker" name="week"
                                            id="week" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-1  text-center"> </div>

                        <div class="col-lg-5  text-center">
                            
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <input type="text" class="form-control text-center" name="date" id="selectDesde"
                                        aria-describedby="helpId" placeholder="Seleccionar Fecha" autocomplete="off">
                                </div>
                            
                        </div>
                        <div class="col-lg-5  text-center">
                            
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <input type="text" class="form-control text-center" name="date" id="selectHasta"
                                        aria-describedby="helpId" placeholder="Seleccionar Fecha" autocomplete="off">
                                </div>
                          
                        </div>
                    </div>



                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="startDate" id="startDate"
                                placeholder="YYYY-MM-DD" value="" hidden>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="endDate" id="endDate"
                                placeholder="YYYY-MM-DD" value="" hidden>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 text-center mt-2 mb-2">
    
                        <button class="btn btn-success" id="btnExcel"><span class="fas fa-file-excel 2x"></span>
                            Descargar Excel</button>
                    </div>
                    <!-- <div class="col-2 text-center mt-2 mb-2">
                        <button class="btn btn-success" id="btnExcelDownloadSin"><span class="fas fa-file-excel 2x"></span>
                            Sin Formato</button>
                    </div> -->
                    <div class="col-4"></div>
    
                </div>

            </div>


            <div class="container-fluid">
                <div class="table-responsive mt-2">
                    <div class="containerTable">
                        <div class="table table-responsive" id="table">
                            <table id="tableEntradas" class="table table-bordered table-striped table-sm hover text-center">
                                <thead class="thead-dark">

                                    <th width="15%"><span></span> Clave Material</th>
                                    <th width="30%"><span></span> Material</th>
                                    <th width="25%"><span></span> Recibio</th>
                                    <th width="15%"><span></span> Cantidad</th>
                                    <th width="15%"><span></span> Fecha</th>

                                </thead>

                                <tbody>



                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>







            <div class="modal fade" id="modalSpinner" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h2 class="modal-title "> <span class="text-secondary  fas fa-stopwatch"></span>
                                Cargando Reporte</h2>
                            <div class="spinner-grow spinner-grow-sm text-warning mt-4 cdelay-1" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow spinner-grow-sm text-primary mt-4 cdelay-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow spinner-grow-sm text-secondary mt-4 cdelay-3" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







                <%- include ("./static/footer") %>
                <script type="text/javascript" src="/js/functions/reporte_entradas.js"></script>