<div id="back-to-top-wrapper" class="bottomMenu wrapper-hide">
    <a href="#top" class="back-to-top-link" aria-label="Scroll to Top"><i class="fas fa-angle-double-up text-info"></i></a>
</div>
</main>
<!-- Scripts from node-modules -->
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js-datepicker/dist/datepicker.min.js"></script>
<script type="text/javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/libraries/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/js/libraries/dataTables.buttons.js"></script>
<script type="text/javascript" src="/js/libraries/buttons.bootstrap4.js"></script>
<script type="text/javascript" src="/js/libraries/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/js/libraries/datatables.buttons.html5.js"></script>
<script type="text/javascript" src="/js/libraries/jszip.min.js"></script>

<!-- Habilitar en node_env = dev -->
<!-- <script type="text/javascript" src="/reload/reload.js"></script> -->

<!-- Libraries from other programs -->
<script type="text/javascript" src="/js/libraries/jszip.min.js"></script>
<!-- custom scripts -->
<script type="text/javascript" src="/js/functions/index.js"></script>
<!-- sounds -->
<script type="text/javascript" src="/js/functions/sounds.js"></script>