<!-- Sidebar -->
<div class="bg-dark d-none d-md-block" id="sidebar-wrapper">
  <!-- <div class="sidebar-heading bg-dark text-white"><span><img src="/img/icon.png" style="width: 25px" alt=""></span>
    Tristone Flowtech</div> -->


  <div class="img_sidebar bg-wrap text-center py-4" style="background-image: url(/img/white-background_2.jpg);">
    <div class="user-logo">

      <a href="/">
        <div class="img_sidebar" style="background-image: url(/img/TristoneLogo.png); "></div>
      </a>
    </div>
  </div>


  <div class="list-group ">
    <ul class="list-group">
      <li class="list-group_item">
        <a href="/login/Movimiento" class="list-group-item list-group-item-action" id="2"><span
          class="text-light fas "> </span><span class="text-light fas fa-exchange-alt"></span> <span
          class="text-white">Entrada / Salida</span>
      </a>
      </li>

      <li class="list-group_item">
        <a href="/material" class="list-group-item list-group-item-action" id="3"><span
          class="text-light fas "> </span><span class="text-light fas fa-pen"></span> <span
          class="text-white">Materiales</span>
      </a>
      </li>

      <li class="list-group_item">
        <a href="/inventario" class="list-group-item list-group-item-action" id="4"><span
          class="text-light fas "> </span><span class="text-light fas fa-table"></span> <span
          class="text-white">Inventario</span>
      </a>
      </li>

    </ul>

    <ul class="list-group">
      <li class="list-group_item">
      <a href="#" class="list-group-item list-group-item-action bg-dark" id="click_hide_show"><span
        class="text-light fas fa-angle-right"></span><span class="text-light fas fa-chart-line"></span> <span
        class="text-white">Reportes</span></a>
        <ul>
          <a href="/reporte_entrada" class="list-group-item list-group-item-action bg-dark hide_show">
            <span class="text-light fas fa-arrow-right"></span>
            <span class="text-white"><span class="text-white">Entradas</span></span></a>
        </ul>
        <ul>
          <a href="/reporte_salida" class="list-group-item list-group-item-action bg-dark hide_show">
            <span class="text-light fas fa-arrow-left"></span>
            <span class="text-white"><span class="text-white text-center">Salidas</span></span></a>
        </ul>

 
      </li>
    </ul>







    <a href="http://10.56.99.21:9675/portal/portal-login" target="_blank"
      class="list-group-item list-group-item-action text-white list-group-ticket"><span
        class="text-white fas fa-ticket-alt"></span> Soporte</a>
  </div>
</div>

<!-- /#sidebar-wrapper -->